<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title></title>
</head>

<body class="grad10">
  <div class="container-img">
    <div class="container-fluid container-flex-column">
      <div class="row">
        <div class="col-xs-8 col-xs-push-2 mt-5">
          <img src="../assets/images/logo-lyft-end.png" alt="" class="img w-30">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-8 mt-5">
          <img src="../assets/images/check.png" alt="" class="img w-45">
        </div>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.js"></script>
</body>

</html>